<ion-content fullscreen color='light'>
  <div class='loginContainer'>
    <img src='assets/transparentLogo.png' class='loginLogoDisplay' />
    <div class='loginLogoTitle'>Evergrow</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input placeholder="Username" formControlName='username'></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input placeholder="Password" formControlName='password' type="password"></ion-input>
      </ion-item>
      <br />
      <div class="loginButtonContainer">
        <ion-button color="primary" class="loginButton" [disabled]="loading" type='submit'>Login</ion-button>
      </div>
      <div class="registerButtonContainer">
        <span>Don't have an account?</span>
        <br />
        <span>Press to <span style="font-weight: 500; color: var(--ion-color-primary)"
            (click)="handleOpenRegisterPage()">Register</span></span>
      </div>
    </form>
  </div>
</ion-content>