<ion-content fullscreen color='light'>
  <div class='registerContainer'>
    <div class='registerPageTitle'>Register</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input placeholder="Username" formControlName='username'></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input placeholder="Password" type="password" formControlName='password'></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input placeholder="Confirm Password" type="password" formControlName='confirmPassword'></ion-input>
      </ion-item>
      <br />
      <div class="registerButtonContainer">
        <ion-button color="primary" class="registerButton" [disabled]="loading" type='submit'>Register
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>