<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='contentContainer'>
    <div class='cardContainer'>
      <div class='card'>
        <div>Current Spending Habit</div>
        <div>
          <span>10</span>
          <span>/10</span>
        </div>
      </div>
      <div class='card'>
        <div>Average Daily Spending</div>
        <div><span>3,000</span><span>THB</span></div>
      </div>
    </div>
  </div>
</ion-content>