<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [icon]="'close-outline'" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      New Expense
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class='contentContainer'>
    <div class='cardContainer'>
      <div class='card'>
        <div
          style='background: rgb(255, 255, 183); width: 50px; height: 50px; border-radius: 50px; position: relative; top: -25px;'>
        </div>

        <ion-item>
          <ion-label position="stacked">Event Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Amount</ion-label>
          <ion-input type='number'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Detail</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item style='margin-top: 15px;'>
          <ion-select placeholder="Select Type">
            <ion-select-option value="f">Expense</ion-select-option>
            <ion-select-option value="m">Income</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)='handleAddPress()' color="primary"
          style='margin-top: 20px; width: 100px; font-weight: 600;'>Add</ion-button>
      </div>
    </div>
  </div>
</ion-content>