.contentContainer {
    height: 100%;

    background: var(--ion-color-light);

    display: flex;
    justify-content: center;
    align-items: center;

    & > *:first-child {
        flex: 1.5;
    }

    & > *:last-child {
        flex: 4.5;
    }
}

.cardContainer {
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding: 50px;
}

.card {
    height: 400px;
    background: lightgoldenrodyellow;
    border-radius: 20px;

    background: var(--ion-color-primary-contrast);

    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 600;

    margin-bottom: 20px;
}
