<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Set your budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
  <form class='contentContainer' [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class='mainBudgetContainer'>
      <ion-input value="" class='inputStyle' formControlName='budget'></ion-input>
      <span>THB</span>
    </div>
    <ion-button color='light' type='submit'>Press to change</ion-button>
  </form>
</ion-content>