<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='handleOpenAddPage()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class=' contentContainer'>
    <div class='mainBudgetContainer'>
      <div>
        <span>90,000</span>
        <span>THB</span>
      </div>
      <div>Monthly budget remaining</div>
    </div>

    <div class='cardContainer'>
      <div class='card'>
        <div>Dinner with friends</div>
        <div>-3,000</div>
      </div>
    </div>
  </div>
</ion-content>