<ion-content fullscreen color='light'>
  <div class='registerContainer'>
    <div class='registerPageTitle'>Register</div>
    <div>
      <ion-item>
        <ion-input placeholder="Email" type="email"></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input placeholder="Confirm Password" type="password"></ion-input>
      </ion-item>
      <br />
      <div class="registerButtonContainer">
        <ion-button (click)="handleRegister()" color="primary" class="registerButton">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>